{% extends 'base.html' %}
{% block title %}Movies in {{ genre.name }}{% endblock %}
{% block body %}
<div class="container">
    <h1>Movies in {{ genre.name }}</h1>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ movie.img.url }}" alt="{{ movie.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.name }}</h5>
                        <p class="card-text">{{ movie.desc }}</p>
                        <h4>{{movie.actors}}</h4>
                         <h4>{{movie.date}}</h4>

                        <a href="{% url 'moviewebsiteapp:detail' movie.id %}" class="btn btn-primary">View Details</a>
                         <a href="{{movie.youtube_trailer}}" class="btn btn-primary">youtube_trailer</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No movies found in this genre.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
   

   
