{% extends 'base.html' %}
{% block body %}
<div class="container ">
    <div class="row">
         {% for i in Movie_list %}
        <div class="col-md-4">
            <div class="card content"  style=" width: 18rem;">
  <img class="card-img-top " src="{{i.img.url}}" alt="" width="200px" height=200px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
      <h4 class="card-text">{{i.actors}}</h4>

      <h4 class="card-text">{{i.genres}}</h4>

    <a href="{% url 'moviewebsiteapp:detail' i.id %}" class="btn btn-success" >view details</a>

    <a href="{{i.youtube_trailer}}" class="btn btn-success">youtube_trailer</a>


  </div>
</div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}