<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>movies</h1>
<div class="container" >
    <div class="row">
            <div class ="col-md-6">
           <img src="{{i.img.url}}"   width="200" height="200">
          </div>
           <div class="col-md-6">

            <h2>{{i.name}}</h2>
            <h6>{{movies.desc}}</h6>
            <h4>{{movies.actors}}</h4>
            <h4>{{movies.date}}</h4>


</div>
</div>
</div>
</body>
</html>

